<mat-card fxLayout="row" fxLayoutAlign="space-around center" id=match-card>
   <div class="class-border" fxFlex="5">
      <div id="state_btn">

      </div>
   </div> 
   <div class="class-border date_div" fxLayoutAlign="center" fxFlex="10">
      <mat-icon>
         event
      </mat-icon>
      <span>21.04.21</span>
   </div> 
   <div fxFlex="flex">

   </div> 
   <div fxFlex="flex">

   </div> 
   <div fxFlex="flex">

   </div> 
   <div fxFlex="flex">

   </div> 
   <div fxFlex="flex">

   </div> 
</mat-card>