.class-border {
    border: 1px solid black;
}

.date_div {
    justify-content: center;
    align-items: top;
}

span {
  display: inline-flex;
  align-items: center;
  margin-left: 0.7rem;
}

#state_btn {
    height: 25px;
    width: 25px;
    background-color: #80E977;
    border-radius: 4px;
}